*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #4E5BEE;
    --error-color: #FF5757;
    --primary-color: #F8F8F8;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    color: var(--primary-color);

    height: 100vh;
    width: 100vw;
}

body{
    display: flex;
    
    width: 100%;
    height: 100%;

    background-color: var(--primary-color);
}

main{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 42vw;
    height: 100vh;

    background-color: var(--bg-color);
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30%;
}

.input {
    display: flex;
    flex-direction: column;
}

.input input{
    height: 50px;
    width: 100vw;
    max-width: 300px;
    
    font-size: 1.8em;
    font-weight: 400;
    
    margin: 3px 0px;
    padding: 0 20px 0 40px;
    
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    outline: none;
    background-color: transparent;

    color: var(--primary-color);
}

.input label{
    position: absolute;

    margin-top: 10px;
    margin-left: 11px;
}

.input label svg{
    width: 20px;
    height: 20px;
    margin: 8px 0 0 7px;
}

.error{
    font-size: 1.2em;
    font-weight: 400;
    margin-left: 20px;
}

button{
    margin-top: 15px;
    
    height: 50px;
    width: 100vw;
    max-width: 300px;
    
    font-size: 1.8em;
    font-weight: 500;
    
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    outline: none;

    background-color: var(--primary-color);

    z-index: 10;
}

p{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.6em;
}

a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

form img{
    height: 150px;
    width: 150px;

    margin-bottom: 30px;
}

aside{
    width: 58vw;
    margin-left: 42%;
}

aside img{
    position: absolute;
    left: 23%;
    top: 7%;
    width: 1084px;
    height: 758px;
}

@media  (max-width: 425px) {
    aside{
        display: none;
    }
    
    main{
        width: 100vw;
    }

    p{
        position: absolute;
        bottom: 4%;
    }

    .input input{
        margin: 7px 0px;
    }

    .input label svg{
        width: 25px;
        height: 25px;
        margin: 9px 0 0 0;
    }

    button{
        margin-top: 14px
    }

    form img{
        width: 200px;
        height: 200px;
    }
}